<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Flickr</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Hemingway</string>
			<key>File Name 5x7</key>
			<string>Template1_5x7</string>
			<key>File Name 4x6</key>
			<string>Template1_4x6</string>
			<key>File Name 4x5</key>
			<string>Template1_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kerouac</string>
			<key>File Name 5x7</key>
			<string>Template2_5x7</string>
			<key>File Name 4x6</key>
			<string>Template2_4x6</string>
			<key>File Name 4x5</key>
			<string>Template2_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Asimov</string>
			<key>File Name 5x7</key>
			<string>Template3_5x7</string>
			<key>File Name 4x6</key>
			<string>Template3_4x6</string>
			<key>File Name 4x5</key>
			<string>Template3_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Lovecraft</string>
			<key>File Name 5x7</key>
			<string>Template4_5x7</string>
			<key>File Name 4x6</key>
			<string>Template4_4x6</string>
			<key>File Name 4x5</key>
			<string>Template4_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Wallace</string>
			<key>File Name 5x7</key>
			<string>Template5_5x7</string>
			<key>File Name 4x6</key>
			<string>Template5_4x6</string>
			<key>File Name 4x5</key>
			<string>Template5_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ariel</string>
			<key>File Name 5x7</key>
			<string>Template6_5x7</string>
			<key>File Name 4x6</key>
			<string>Template6_4x6</string>
			<key>File Name 4x5</key>
			<string>Template6_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sofia</string>
			<key>File Name 5x7</key>
			<string>Template7_5x7</string>
			<key>File Name 4x6</key>
			<string>Template7_4x6</string>
			<key>File Name 4x5</key>
			<string>Template7_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jack</string>
			<key>File Name 5x7</key>
			<string>Template8_5x7</string>
			<key>File Name 4x6</key>
			<string>Template8_4x6</string>
			<key>File Name 4x5</key>
			<string>Template8_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Steinbeck</string>
			<key>File Name 5x7</key>
			<string>Template9_5x7</string>
			<key>File Name 4x6</key>
			<string>Template9_4x6</string>
			<key>File Name 4x5</key>
			<string>Template9_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dickens</string>
			<key>File Name 5x7</key>
			<string>Template10_5x7</string>
			<key>File Name 4x6</key>
			<string>Template10_4x6</string>
			<key>File Name 4x5</key>
			<string>Template10_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Clean</string>
			<key>File Name 5x7</key>
			<string>Template11_5x7</string>
			<key>File Name 4x6</key>
			<string>Template11_4x6</string>
			<key>File Name 4x5</key>
			<string>Template11_4x5</string>
		</dict>
	</array>
	<key>Facebook</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Hemingway</string>
			<key>File Name 5x7</key>
			<string>Template1_5x7</string>
			<key>File Name 4x6</key>
			<string>Template1_4x6</string>
			<key>File Name 4x5</key>
			<string>Template1_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kerouac</string>
			<key>File Name 5x7</key>
			<string>Template2_5x7</string>
			<key>File Name 4x6</key>
			<string>Template2_4x6</string>
			<key>File Name 4x5</key>
			<string>Template2_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Asimov</string>
			<key>File Name 5x7</key>
			<string>Template3_5x7</string>
			<key>File Name 4x6</key>
			<string>Template3_4x6</string>
			<key>File Name 4x5</key>
			<string>Template3_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Lovecraft</string>
			<key>File Name 5x7</key>
			<string>Template4_5x7</string>
			<key>File Name 4x6</key>
			<string>Template4_4x6</string>
			<key>File Name 4x5</key>
			<string>Template4_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Wallace</string>
			<key>File Name 5x7</key>
			<string>Template5_5x7</string>
			<key>File Name 4x6</key>
			<string>Template5_4x6</string>
			<key>File Name 4x5</key>
			<string>Template5_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ariel</string>
			<key>File Name 5x7</key>
			<string>Template6_5x7</string>
			<key>File Name 4x6</key>
			<string>Template6_4x6</string>
			<key>File Name 4x5</key>
			<string>Template6_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sofia</string>
			<key>File Name 5x7</key>
			<string>Template7_5x7</string>
			<key>File Name 4x6</key>
			<string>Template7_4x6</string>
			<key>File Name 4x5</key>
			<string>Template7_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jack</string>
			<key>File Name 5x7</key>
			<string>Template8_5x7</string>
			<key>File Name 4x6</key>
			<string>Template8_4x6</string>
			<key>File Name 4x5</key>
			<string>Template8_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Steinbeck</string>
			<key>File Name 5x7</key>
			<string>Template9_5x7</string>
			<key>File Name 4x6</key>
			<string>Template9_4x6</string>
			<key>File Name 4x5</key>
			<string>Template9_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dickens</string>
			<key>File Name 5x7</key>
			<string>Template10_5x7</string>
			<key>File Name 4x6</key>
			<string>Template10_4x6</string>
			<key>File Name 4x5</key>
			<string>Template10_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Clean</string>
			<key>File Name 5x7</key>
			<string>Template11_5x7</string>
			<key>File Name 4x6</key>
			<string>Template11_4x6</string>
			<key>File Name 4x5</key>
			<string>Template11_4x5</string>
		</dict>
	</array>
	<key>Instagram</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Hemingway</string>
			<key>File Name 5x7</key>
			<string>Template1_5x7</string>
			<key>File Name 4x6</key>
			<string>Template1_4x6</string>
			<key>File Name 4x5</key>
			<string>Template1_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kerouac</string>
			<key>File Name 5x7</key>
			<string>Template2_5x7</string>
			<key>File Name 4x6</key>
			<string>Template2_4x6</string>
			<key>File Name 4x5</key>
			<string>Template2_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Asimov</string>
			<key>File Name 5x7</key>
			<string>Template3_5x7</string>
			<key>File Name 4x6</key>
			<string>Template3_4x6</string>
			<key>File Name 4x5</key>
			<string>Template3_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Lovecraft</string>
			<key>File Name 5x7</key>
			<string>Template4_5x7</string>
			<key>File Name 4x6</key>
			<string>Template4_4x6</string>
			<key>File Name 4x5</key>
			<string>Template4_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Wallace</string>
			<key>File Name 5x7</key>
			<string>Template5_5x7</string>
			<key>File Name 4x6</key>
			<string>Template5_4x6</string>
			<key>File Name 4x5</key>
			<string>Template5_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ariel</string>
			<key>File Name 5x7</key>
			<string>Template6_5x7</string>
			<key>File Name 4x6</key>
			<string>Template6_4x6</string>
			<key>File Name 4x5</key>
			<string>Template6_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sofia</string>
			<key>File Name 5x7</key>
			<string>Template7_5x7</string>
			<key>File Name 4x6</key>
			<string>Template7_4x6</string>
			<key>File Name 4x5</key>
			<string>Template7_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jack</string>
			<key>File Name 5x7</key>
			<string>Template8_5x7</string>
			<key>File Name 4x6</key>
			<string>Template8_4x6</string>
			<key>File Name 4x5</key>
			<string>Template8_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Steinbeck</string>
			<key>File Name 5x7</key>
			<string>Template9_5x7</string>
			<key>File Name 4x6</key>
			<string>Template9_4x6</string>
			<key>File Name 4x5</key>
			<string>Template9_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dickens</string>
			<key>File Name 5x7</key>
			<string>Template10_5x7</string>
			<key>File Name 4x6</key>
			<string>Template10_4x6</string>
			<key>File Name 4x5</key>
			<string>Template10_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Clean</string>
			<key>File Name 5x7</key>
			<string>Template11_5x7</string>
			<key>File Name 4x6</key>
			<string>Template11_4x6</string>
			<key>File Name 4x5</key>
			<string>Template11_4x5</string>
		</dict>
	</array>
	<key>CameraRoll</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Hemingway</string>
			<key>File Name 5x7</key>
			<string>Template12_5x7</string>
			<key>File Name 4x6</key>
			<string>Template12_4x6</string>
			<key>File Name 4x5</key>
			<string>Template12_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kerouac</string>
			<key>File Name 5x7</key>
			<string>Template13_5x7</string>
			<key>File Name 4x6</key>
			<string>Template13_4x6</string>
			<key>File Name 4x5</key>
			<string>Template13_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Asimov</string>
			<key>File Name 5x7</key>
			<string>Template14_5x7</string>
			<key>File Name 4x6</key>
			<string>Template14_4x6</string>
			<key>File Name 4x5</key>
			<string>Template14_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Lovecraft</string>
			<key>File Name 5x7</key>
			<string>Template15_5x7</string>
			<key>File Name 4x6</key>
			<string>Template15_4x6</string>
			<key>File Name 4x5</key>
			<string>Template15_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Wallace</string>
			<key>File Name 5x7</key>
			<string>Template16_5x7</string>
			<key>File Name 4x6</key>
			<string>Template16_4x6</string>
			<key>File Name 4x5</key>
			<string>Template16_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ariel</string>
			<key>File Name 5x7</key>
			<string>Template6_5x7</string>
			<key>File Name 4x6</key>
			<string>Template6_4x6</string>
			<key>File Name 4x5</key>
			<string>Template6_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sofia</string>
			<key>File Name 5x7</key>
			<string>Template7_5x7</string>
			<key>File Name 4x6</key>
			<string>Template7_4x6</string>
			<key>File Name 4x5</key>
			<string>Template7_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jack</string>
			<key>File Name 5x7</key>
			<string>Template8_5x7</string>
			<key>File Name 4x6</key>
			<string>Template8_4x6</string>
			<key>File Name 4x5</key>
			<string>Template8_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Steinbeck</string>
			<key>File Name 5x7</key>
			<string>Template20_5x7</string>
			<key>File Name 4x6</key>
			<string>Template20_4x6</string>
			<key>File Name 4x5</key>
			<string>Template20_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dickens</string>
			<key>File Name 5x7</key>
			<string>Template10_5x7</string>
			<key>File Name 4x6</key>
			<string>Template10_4x6</string>
			<key>File Name 4x5</key>
			<string>Template10_4x5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Clean</string>
			<key>File Name 5x7</key>
			<string>Template11_5x7</string>
			<key>File Name 4x6</key>
			<string>Template11_4x6</string>
			<key>File Name 4x5</key>
			<string>Template11_4x5</string>
		</dict>
	</array>
</dict>
</plist>
