# Xcode
*.orig
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
xcuserdatad
profile
*.moved-aside
DerivedData
**/*.swp
**/*.irb-history
.idea/
.ruby-*
report*.html
*.log
/Sprocket.xcworkspace/xcshareddata/Sprocket.xccheckout
resources-to-copy-*.*/Sprocket/features/Print_Confirmation.feature~
/Sprocket/features/g1
/Sprocket/features/Print_Confirmation1.feature
Sprocket/Sprocket.xcodeproj/project.pbxproj.bak
Sprocket/Aurasma

# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output

fastlane/build_output

Sprocket/Gemfile.lock

# gets overwritten by REL or DEV version in build phase, no need to check in this file
GoogleService-Info.plist

# gets overwritten by DEFAULT or PRODUCTION version in build phase, no need to check in this file
AirshipConfig.plist
